.about-me-overlay {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.85);

    justify-content: center;

    pointer-events: auto;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px); /* for Safari */
}

.about-me-overlay img {
    width: 10%;
    border-radius: 50%;
}

.about-me-overlay h1 {
    text-align: center;
    width: 50%;
    font-size: 70px;
    font-weight: 600;
    line-height: 80px;
}

.about-me-overlay h1 span {
    background: linear-gradient(to right, #FF6F91, #27BBF5);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}


.about-me-overlay p {
    width: 50%;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
}

.about-me-buttons {
    display: inline-flex;
    align-items: center;
    gap: 20px;
    font-size: 24px;
    font-weight: 500;
}

/* Sparkle animation on border using box-shadow flicker */
@keyframes sparkle {
    0%, 100% {
        box-shadow:
                0 0 5px 2px rgba(255, 255, 255, 0.5),
                0 0 10px 4px rgba(255, 255, 255, 0.1);
    }
    50% {
        box-shadow:
                0 0 10px 4px rgba(255, 255, 255, 1),
                0 0 20px 8px rgba(255, 255, 255, 0.8);
    }
}


