@import "tailwindcss";

@font-face {
    font-family: 'Foundry Context Bold';
    src: url('./assets/fonts/FC_Bd.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Foundry Context Italic';
    src: url('./assets/fonts/FC_It.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Foundry Context Medium';
    src: url('./assets/fonts/FC_Md.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    width: auto;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.font-f1 {
    font-family: 'Foundry Context Medium', sans-serif;
    letter-spacing: 1px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;

}







.dual-btn-wrapper {
    display: inline-flex;
    flex-direction: column;
    gap: 1rem; /* espace identique entre boutons */
    border: 2px solid white;
    border-radius: 50px;
    padding: 0.5rem; /* espace intérieur pour bien entourer */
    transition:
            padding 0.3s ease,
            border-radius 0.3s ease;
    cursor: default; /* pas forcément interactif, c’est le wrapper */
}

/* Pour que le wrapper s’étire au hover sur l’un ou l’autre bouton */
.dual-btn-wrapper:hover {
    padding: 1rem 0.8rem; /* top et bottom à 1rem, gauche et droite à 0.5rem */
    border-radius: 30px; /* garde le même rayon */
}



